@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  /* Changed to allow scrolling on admin pages */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}